*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    background: url(./images/4853433.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    opacity: 0.8 !important;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
  }

.page{
    display: flex;
    flex-direction: column;  
}


.nav-container{

    background: #c32bad; /*  fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7027a0, #c32bad);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7027a0, #c32bad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    height:min-content ; /* height:3.5em ;    /* ////  ACOMODAR LUEGO //////////////*/
}


.nav-logo {
   align-items: center; 
   display: flex;
   flex-direction: row;
   /* border: 1px solid black; */
}

.nav-logo > img {
    height: 30px;
    margin-right: 10px;
}

.nav-logo > p {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
    text-shadow: 1.5px 1.5px 1.5px black;
}


.menu-container{
    display: flex;
    flex-direction: row;
}

.menu-link > i {
    color: white;
    margin-right: 5px;
}

.menu-link > li {
    display: inline;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.2em; */
    font-size: 1em;
    margin-right: 12px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 


.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    margin-top: 3vh;
    /* border: 1px solid black; */
}

.title-container > p {
    font-family: 'Caveat', cursive;
    font-size: 5.5vw;
    color: #090909;
    position: relative;
    left:4vw;
    /* border: 1px solid black; */
}

h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 12vw;
    display: inline;
    color: #090909;
    font-weight:900 !important;

    /* border: 1px solid black; */
}

.corazones-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid black; */
    margin: 1rem 0 ;
}

@keyframes corazonUno {
    0% { color:#7027a0; }
    25% { color:#b34dab;}
    50% { color:#fa67ac;}
    75% { color:#bb2fc0;}
    100% { color:#7027a0;}
} 

@keyframes corazonDos{
    0% { color:#b34dab; }
    16% { color:#bb2fc0;}
    33% { color:#7027a0;}
    50% { color:#bb2fc0;}
    66% { color:#b34dab;}
    84% { color:#fa67ac;}
    100% { color:#b34dab;}
} 


@keyframes corazonTres {
    0% { color:#fa67ac; }
    25% { color:#b34dab;}
    50% { color:#7027a0;}
    75% { color:#bb2fc0;}
    100% { color:#fa67ac;}
} 


.corazon-uno{
    animation: corazonUno 2s linear infinite;
}

.corazon-dos{
    animation: corazonDos 2s linear infinite;
}
.corazon-tres{
    animation: corazonTres 2s linear infinite;
}

.corazones-container > i {
    font-size: 1.4em;
    margin: 0 10px;

}


.imagen-container{
  /* border: 1px solid black; */
  padding: 1rem 0 0;
}
.imagen-container > img {
    width: 100%;
    margin: 1rem 0;
    /* border: 1px solid black; */
}

.imagen-container > p {
    text-align: center ;
    font-family: 'Quicksand', sans-serif;
    margin: 1rem auto 0;
    max-width: 90%;
    /* border: 1px solid black; */
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    /* border: 1px solid black; */
}

.formulario{
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #d8d0d0;
    border-radius: 7px;
    margin:1rem auto 3rem;
    padding: 10px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8) ;
    /* border: 1px solid black; */
}

.boton{
    text-align: center;
}

.btn-primary{
    background-color:#7027a0 ;
}

footer {
    background: #C32BAD;  /* fallback for old browsers F56FAD*/
    background: -webkit-linear-gradient(to right, #7027a0, #F56FAD );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7027a0, #F56FAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #7027a0; */
}

.socials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}


.social{
    display: flex;
    color: white;
    margin: 0 1.5em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
} 

.icons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    font-size: 1.4em;
    margin-right: 10px;
    color: white;
}

.copyrights{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    color: white;
    margin: 15px;
}


@media only screen and (max-width:599px){
    .nav-logo,  .nav-logo > img, .nav-logo > p {
        display: none;
    } 

    .nav-container{
        display: block;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .menu-link{
        margin-bottom: 2.5vw;
        width: 100%;
    }
    .menu-link:last-of-type{
        margin-bottom: 0;
    }

    .menu-link > li, .menu-link > i {
        font-size: 4vw;
    }

    .active > li > a, 
    .active > i {
        font-size: 4.5vw;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }

    
    
}

@media only screen and (min-width: 600px) and (max-width: 960px){
    
    .nav-container{
        justify-content: center;
        height:3.5em;
    }
    .nav-logo,  .nav-logo > img, .nav-logo > p {
        display: none;
    } 


    .title-container > p {
        font-size: 3vw; 
    }
    
    h1 {
        font-size: 8vw;
    }

    .active > li > a, 
    .active > i {
        font-size: 2.4vw;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }

    .contenido-container{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

    .imagen-container{
        padding: 1rem 0 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 2rem;
      }
      .imagen-container > img {
          width: 100%;
          margin: 1rem 0;
      }
      
      .imagen-container > p {
          text-align: center ;
          font-family: 'Quicksand', sans-serif;
          font-size: 1.3rem;
          margin-top: 1rem;
      }
      
      h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: 1.8rem;
          text-align: center;
      }

    .formulario{
        width: 50%;
    }
}


@media only screen and (min-width: 961px){
    .nav-container{
        height:3.5em;
    }
    .title-container{
        padding:5px;
        margin: 1vh 0 0;

    }
    h1 {
        font-size: 4em;
    }
    .title-container > p {
        font-size: 1.6em;
        /* left:8vw; */
    }

    .contenido-container{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

    .imagen-container{
        /* border: 1px solid black; */
        padding: 1rem 0 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 2rem;
        /* border-right: 1px solid gray; */
     
      }
      .imagen-container > img {
          width: 100%;
          margin: 1rem 0;
          /* border: 1px solid black; */
      }
      
      .imagen-container > p {
          text-align: center ;
          font-family: 'Quicksand', sans-serif;
          font-size: 1.3rem;
          margin-top: 1rem;
          /* border: 1px solid black; */
      }
      
      h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: 1.8rem;
          text-align: center;
          /* border: 1px solid black; */
      }

    .formulario{
        width: 50%;
        padding: 40px;
        margin:3em auto 5em;
    }


    li > a:link,
    li> a:visited {
    color: white;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
    }

    li > a:hover {
        text-decoration: underline;
        font-size: 1.21em;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;
    } 

    .active > li > a, 
    .active > i {
        font-size: 1.15em;
        font-weight: bold;
        /* text-decoration:underline; */
        text-shadow: 1px 1px 1px black;
    }

    

}


